*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html, body {
    font: 16px/1 'Open Sans', sans-serif;
    color: #555;
    background: #e5e5e5;
  }
  
  
.grid-canales{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
  
    row-gap: .6em;
  }
  
  .canal{
    height: 130px;
    text-align: center;
    padding: .8em;
    display: flex;
    position: relative;
  }
  .imgcanal{
    width: 80px;
    height: 80px;
    border: 1px solid #000;
  }
  .imgcanal, .canal{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-centro{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imgcanal img{
    width: 78px;
    /* height: auto; */
  }
  .canal p{
    margin-top: 10px;
  }
  
  .abs{
    position: absolute;
    left: 10px;
    bottom: 40px;
    width: 25px;
    font-size: .8rem;
    height: 25px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
  }
  .pdh{
    padding: 2em 0;
  }
  .mxwidth-1100{
    max-width: 1100px;
    width: 100%;
    margin: auto;
  }
  
  /* ACCORDION */
  /* Add this to import Font-Awesome */

@import  url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* Add this to important Google Font (Oswald) */
@import  url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);


/* Main accordion css */
#accordion, #accordion2 {
   /* max-width: 700px;  You can change this 
    margin: auto; *//* You can remove this if you do not need it to align in the center of your element */
    display: block; 
}

/* This controls the text inside the div, you can play with this by adding background-color, border, etc. 
#accordion div {
    padding: 5px 10px;
    display: inline-block;
    overflow: auto;
}
*/
/* This controls the header */
#accordion h3, #accordion2 h3 {
    display: block;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    padding: 8px 11px;
    font-family: Oswald, sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 5px;
}
/*
#accordion div p {
  margin-top: 0;
}*/

/* This CSS controls the Font Awesome Icon, You can float: left as well and add margin-right: 5px; */
.icon-expand,.icon-collapse {
    float: right;
    margin-top: 5px;
}

/* USE THE BELOW CSS FOR BLUE */
.blue h3 {
    background: #000000; /* You can change this to whatever background color you want for the header */
    color: #fff; /* You can change this to whatever font color you want for the header */
}

  
  /* ACCORDION */
  /* TABS */
/* TABS */
/* TABS */
/* TABS */
/* TABS */
/* TABS */

  .tab-container {
    width: 100%;
    gap: 1em;
    display: flex;
    overflow: auto;
    background-color: var(--blanco);
    padding: .9em 0;
    padding-right: .6em;
  }
  .tab-container a:hover{
    color: #fff;
    background: rgb(250,114,24);
background: linear-gradient(180deg, rgba(250,114,24,1) 0%, rgb(250 142 24) 100%);
 
  }
  .tab {
    background-color: #fff;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1em;
    gap: 5px;
    text-align: center;
    color: var(--segundo);
    border-radius: 10px;
    border: 3px solid #FA8E18;
  }
  .bxsh{
    box-shadow: #FA8E18 1px 1px 0, #FA8E18 2px 2px 0, #FA8E18 3px 3px 0, #FA8E18 4px 4px 0, #FA8E18 5px 5px 0, #FA8E18 6px 6px 0, #FA8E18 7px 7px 0, #FA8E18 8px 8px 0;
  }
  .catalogo>.sticky{
    display: flex;
  }
  .wdt{
    width: 140px;
    font-weight: 500;
  }
  .sticky {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    max-width: 1180px;
    padding: 1em 2em 1em 0em;
    background: var(--white);
  }
  .tab.is-active {
    color: #fff;
    background: rgb(250,114,24);
background: linear-gradient(180deg, rgba(250,114,24,1) 0%, rgb(250 142 24) 100%);
  }
  
  .tab.is-active:after {
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #3f51b5;
    transition: all 1s ease-in-out;
  }
  
  .tab-content {
    width: 100%;
    display: none;
  }
  
  .tab-content.is-active {
    display: block;
    z-index: 1;
  }

  .icon-men{
    width: 30px;
  } 

  .flxx{
    display: flex;
    gap: 5px;
  }

.ptp{
  padding-top: 1.5em;
  position: relative;
}  
.titulo-net{
  position: absolute;
  top: 0;
  width: 60%;
  display: flex;
  margin: auto;
  height: 2em;
  color: #fff;
  background-color: #878787;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.column {
    display: none;
}
.show {
  display: flex;
  justify-content: center;
}


  /** TORTA **/
  
  .torta{
    width: 100%;
    padding: 4px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
  .torta-c{
    width: 100%;
    padding: 8px;
  }
  .tplan{
    width: 80%;
    padding: 1em 0;
  }
  .torta-titulo{
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
  }
  .torta-c img{
    width: 100%;
  }



  .flex-dsc{
    display: flex;
    flex-direction: column;
    gap: .3em;
  }

  
.porciones{
    font-size: .9em;
    font-style: italic;
    color: #797979;
    font-weight: 500;
  }
  .torta-precio{
    font-size: 1.2em;
    font-weight: bolder;
    color: #ff0000;
  }

  .boton-contacto{
    padding: .9em;
    width: 100%;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 15px;
    font-size: 92%;
    border: none;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
  }
  #pinterest{
    background-color: #d43f3a;
  }
  .negro{
    background-color: var(--negro);
  }
  /* footer **/
  .reds-logos img, .footer-post img{
    width: 30px;
    margin-right: 12px;
  }

.social{
  display: flex;
  align-items: center;
}
.info, .promocion{
  background-color: var(--cuatro) ;
}

.cred{
  text-align: center;
  border-top: 1px solid var(--terciario);
}
  /* TABS*/

  /* PURE TAB CSS CANALES PREMIUM */
    /* PURE TAB CSS CANALES PREMIUM */
      /* PURE TAB CSS CANALES PREMIUM */
        /* PURE TAB CSS CANALES PREMIUM */
          /* PURE TAB CSS CANALES PREMIUM */
            /* PURE TAB CSS CANALES PREMIUM */

  .pc-tab > input,
.pc-tab section > div{
  display: none;
}

#tab1:checked ~ section .tab1,
#tab2:checked ~ section .tab2,
#tab3:checked ~ section .tab3,
#tab4:checked ~ section .tab4,
#tab5:checked ~ section .tab5,
#tab6:checked ~ section .tab6    {
   display: block;
   background-color: #fff;
   padding: 2em 0;
}

.pc-tab {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.pc-tab ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
}

.pc-tab ul li label {
  float: left;
  font-size: 1.1em;
  width: max-content;
  padding: 15px 25px;
  border: 1px solid #ddd;
  border-bottom: 0;
  background-color: #eeeeee;
  color: #444;
}

.pc-tab ul li label:hover {
  background-color: #ddd;
  cursor: pointer;
}

.pc-tab ul li label:active {
  background-color: #fff;
}

.pc-tab ul li:not(:last-child) label {
  border-right-width: 0;
}

.pc-tab section {
  clear: both;
}
/*
.pc-tab section div {
  background-color: #fff;
  color: #444;
}
*/
.pc-tab section div h2 {
  margin: 0;
  letter-spacing: 1px; 
  color: #34495e;
}

#tab1:checked ~ nav .tab1 label,
#tab2:checked ~ nav .tab2 label,
#tab3:checked ~ nav .tab3 label,
#tab4:checked ~ nav .tab4 label,
#tab5:checked ~ nav .tab5 label,
#tab6:checked ~ nav .tab6 label {
  background-color: #fff;
  color: #111;
  position: relative;
}

#tab1:checked ~ nav .tab1 label:after,
#tab2:checked ~ nav .tab2 label:after,
#tab3:checked ~ nav .tab3 label:after,
#tab4:checked ~ nav .tab4 label:after,
#tab5:checked ~ nav .tab5 label:after,
#tab6:checked ~ nav .tab6 label:after
 {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  left: 0;
  bottom: -1px;
}
    /* PURE TAB CSS CANALES PREMIUM */
      /* PURE TAB CSS CANALES PREMIUM */
        /* PURE TAB CSS CANALES PREMIUM */
          /* PURE TAB CSS CANALES PREMIUM */
            /* PURE TAB CSS CANALES PREMIUM */
