.swiper-hero-progress {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 3px;
    background: var(--primario);
    z-index: 1;
}
.swiper-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.home-slider{
    background-image: url(./fondo.png);
    background-size: auto;
    background-repeat: no-repeat;
}
.swiper-slide{
    position: relative;
}
.addd{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
}
.home .slide{
    gap:1.5rem;
    display: flex;
    flex-wrap: nowrap;
    padding: 2em 1em;
    align-items: center;
    justify-content: center;
 }
 
.home .slide .content{
    text-align: center;
 }
 
 .home .slide .image{
    flex:1 1 40rem;
 }
 
 .home .slide .image img{
    width: 100%;
 }
 .content{
    width: auto;
 }
 .home .slide .content span{
    font-size: 2.5rem;
    color:var(--light-color);
 }
 
 .home .slide .content h3{
    font-size: 5rem;
    text-transform: capitalize;
    color:var(--black);
    padding:1rem 0;
 }
 @media (min-width:768px){
   
     
     .content img{
        width: auto;
       }
 
 }
 @media (max-width:768px){

   
    .content img{
     width: auto;
    }
    .addd{
        display: block;
      }
 
 }
 
 @media (max-width:450px){
    .home .slide{
        flex-wrap: wrap;
     }
     
  .addd{
    display: none;
  }
    .content img{
     width: 100%;
    }
 } 